@model R59_M7_Class_01_Work_01.Models.Product
@{
    ViewBag.Title = "Delete";
}


<div class="row">
    <div class="col-8">
        @using (Html.BeginForm("Delete", "Products", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.HiddenFor(x => x.ProductId)
            <h2>Are you sure to delete?</h2>
            <div class="alert alert-danger d-flex align-items-center" role="alert">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img" aria-label="Warning:">
                    <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                </svg>
                <div>
                   Caution! Products with all sales will be deleted
                </div>
            </div>
            <div class="form-group row mb-1">
                @Html.LabelFor(x => x.ProductName, new { @class = "col-form-label col-2" })
                <div class="col-10">
                    @Model.ProductName
                </div>
            </div>
            <div class="form-group row mb-1">
                @Html.LabelFor(x => x.Price, new { @class = "col-form-label col-2" })
                <div class="col-10">
                    @Model.Price.ToString("0.00")
                </div>
            </div>
            <div class="form-group row mb-1">
                @Html.LabelFor(x => x.MfgDate, new { @class = "col-form-label col-2" })
                <div class="col-10">
                    @Model.MfgDate.ToString("yyyy-MM-dd")
                </div>
            </div>

            <div class="form-group row mb-1">
                @Html.LabelFor(x => x.InStock, new { @class = "col-form-label col-2" })
                <div class="col-10">
                    <div class="form-check">
                        @(Model.InStock.Value ? "Yes": "No")
                    </div>
                </div>
            </div>


            <div class="col-12 mb-1">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Seller</th>
                            <th>Quantity</th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var s in Model.Sales)
                        {
                            <tr>
                                <td>
                                    @s.Date.ToString("yyyy-MM-dd")
                                </td>
                                <td>
                                    @s.Seller.SellerName
                                </td>
                                <td>
                                    @s.Quantity
                                </td>

                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="form-group row mb-1 text-end">

                <div class="col-10 offset-2">
                    <button type="submit" class="btn btn-danger">Confirm Delete</button>
                </div>
            </div>
        }
    </div>
    <div class="col-4">
        <img src="~/Pictures/@Model.Picture" />
    </div>
</div>
@section styles {
    <style>
    </style>
    <link href="~/icons/font/bootstrap-icons.css" rel="stylesheet" />
}

